body {
    background-color: #fffee1;
    margin: 0 auto;
    display: flex;
    font-family: 'Inter', sans-serif;
    justify-content: center;
}

.insert-exchange-container {
    margin-bottom: 20px;
}

.exchange-info {
    background-color: #ffff;
    width: 100%;
}

.exchange-card {
    display: flex;
    width: 50%;
}

.exchange-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.arrow-container {
    display: flex;
    align-items: center;
    margin: 15px 10px 0;
}

.button-container {
    padding: 10px;
    text-align: center;
}

.button-container button {
    background-color: #d27c2c;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 15% 0 0 0;
    padding: 15px 40px;
    cursor: pointer;
    height: 100%;
}

.input-row {
    display: flex;
    gap: 10px;
    align-items: center;
}

.input-container {
    display: flex;
    flex-direction: column;
}

h2 {
    margin-bottom: 0;
}

.font-krona {
    font-family: Krona One, sans-serif;
}

label {
    margin-right: 5px;
}

.custom-input {
    border: 1px solid #d27c2c;
    border-radius: 10px;
    padding: 15px;
}

button {
    cursor: pointer;
}

.error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
}

.currency-combo-container {
    label {
        margin-bottom: 5px;
    }

    .combo-wrapper {
        background-color: white;
        border-radius: 10px;
        display: flex;
        align-items: center;
        border: 1px solid #d27c2c;
        border-radius: 10px;
        padding: 5px;
    }

    .flag-img {
        margin-right: 5px;
    }

    select {
        border: none;
        outline: none;
        flex: 1;
        padding: 10px;
        background-color: white;
    }

    .currency-name {
        margin-left: 5px;
        font-size: 12px;
    }
}


.app-container {
    width: 80%;
    margin: 0 auto;
}

.exchange-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}